#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  margin:0;
  padding: 0;
  background:linear-gradient(200deg,#213b40); 
}

.active{
  text-decoration: line-through;
}

.buttonsFilters{
  display:flex;
  gap:10px;
  justify-content: center;
  margin-bottom: 10px;
}


.cleartask{
  display: flex;
  justify-content: center;
}

.inputbutton{
  display: flex;
  justify-content: space-around;
  gap:10px
}
/* #a8d7e1; */
.app{
  max-width: 400px;
  min-height: 60vh;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 14px;
  border-color: blueviolet;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Inter', sans-serif;

  display: flex;              
  flex-direction: column;     
  gap: 5px;   
}

.task-card {
  display: flex;
 flex-direction: inherit;
 align-items: center; 
  background: white;
  padding: 14px 18px;
  margin: 10px 0;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.05);
  transition: transform 0.2s, background 0.3s;
  gap: 8px; 
}

.btndelete{
  margin-left: 20px;
}

.footer{
  color:greenyellow;
}

@media (max-width: 480px) {
  .app {
    max-width: 100%;      
    margin: 0;            
    border-radius: 0;     
    padding: 10px;       
  }

  .task-card {
    padding: 10px;        
    font-size: 14px;      
  }
}


.form{
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

.form input {
  display: block;
  width: calc(100% - 6px); /* чуть меньше 100%, чтобы был отступ справа */
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
  box-sizing: border-box;
}
.form input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
}

.form button {
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
}

